<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registros</h1>
        <div class="form-bar">
            <label>Data: <input type="date" id="filter-date"></label>
            <label>Temperatura: <input type="number" id="filter-temp" step="any"></label>
            <button id="clearfilter-btn">Limpar filtro</button>
        </div>
        <ul id="dataList"></ul>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>